{% extends 'index.html.twig' %}

{% block body %}
    
<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<body>
       <!-- <div class="container">
            <h3>Dag - Vrijdag</h3>
            <table class="table table-bordered">
              <tr>
                <th>Tijd</th>
                <th>Zaal 1</th>
                <th>Zaal 2</th> 
                <th>Zaal 3</th>
                <th>Zaal 4</th>
              </tr>
              <tr>
                <td>15:30 - 16:30</td>
                <td class="danger">Spreker: Kevin, Onderwerp: Websites</td> 
                <td class="danger">Spreker: Harry, Onderwerp: HTML</td> 
                <td class="danger">Spreker: Odijk, Onderwerp: NodeJS</td> 
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>16:45 - 17:45</td>
                <td class="danger">Spreker: Ruben, Onderwerp: ICT</td> 
                <td class="success">Open</td>
                <td class="info">Onder voorbehoud</td>
                <td class="danger">Spreker: Jan, Onderwerp: Websites</td> 
              </tr>
              <tr>
                <td>18:45 - 19:45</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="info">Onder voorbehoud</td>
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>20:00 - 21:00</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="danger">Spreker: Jochem, Onderwerp: Vliegtuigen</td>
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>21:30 - 22:30</td>
                <td class="info">Onder voorbehoud</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="info">Onder voorbehoud</td>
              </tr>
            </table>
        </div>
        <div class="container">
            <h3>Dag - Zaterdag</h3>
            <table class="table table-bordered">
              <tr>
                <th>Tijd</th>
                <th>Zaal 1</th>
                <th>Zaal 2</th> 
                <th>Zaal 3</th>
                <th>Zaal 4</th>
              </tr>
              <tr>
                <td>10:15 - 11:15</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>11:30 - 12:30</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>13:00 - 14:00</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>14:15 - 15:30</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>15:30 - 16:30</td>
                <td class="danger">Spreker: Kevin, Onderwerp: Frontends</td> 
                <td class="danger">Spreker: Harry, Onderwerp: HTML</td> 
                <td class="danger">Spreker: Odijk, Onderwerp: NodeJS</td> 
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>16:45 - 17:45</td>
                <td class="danger">Spreker: Ruben, Onderwerp: ICT</td> 
                <td class="success">Open</td>
                <td class="info">Onder voorbehoud</td>
                <td class="danger">Spreker: Jan, Onderwerp: Websites</td> 
              </tr>
              <tr>
                <td>18:45 - 19:45</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="info">Onder voorbehoud</td>
                <td class="success">Open</td>
              </tr>
              <tr>
                <td>20:00 - 21:00</td>
                <td class="success">Open</td>
                <td class="success">Open</td>
                <td class="danger">Spreker: Jochem, Onderwerp: Vliegtuigen</td>
                <td class="success">Open</td>
              </tr>
            </table>
            </div> -->
        <div class="container">
            <table class="table table-bordered">
                <tr>
                <th>Tijd</th>
                <th>Spreker & Onderwerp</th>
                <th>Zaal</th>
                </tr>
                <tr>
                    {% for tijdslot in tijdslot_items %}
                      <tr>
                        <td>{{tijdslot.beginTijd}} - {{tijdslot.eindTijd}}</td> 
                        <td>Spreker: {{tijdslot.naam}} {{tijdslot.tussenvoegsel}}  {{tijdslot.achternaam}}, Onderwerp: {{tijdslot.onderwerpSlot}}</td>  
                        <td>Zaal: {{tijdslot.zaalNummer}}</td>
                     </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
   
                
        
</body>
    {% endblock %}