{% extends 'index.html.twig' %}

{% block body %}
    
<html>
<body>
    <div class="section">
     <div class="container">
        <div class="row">
         <div class="col-md-12">
                <td>Prijs per ticket: {{priceTicket}}</td><br>
                <td>Aantal tickets: {{ticketVrijdag}}{{ticketZaterdag}}{{ticketZondag}}</td><br>
                <td>Prijs per lunch: 20</td><br>
                <td>Prijs per diner: 30</td><br>
                <td>totaal prijs lunch & diner: {{foodSolution}}</td><br>
                <td>Totaal prijs tickets: {{solution}}</td><br>
                 <br>--------------------------------------------------<br>
                <td>Totaal prijs te betalen{{completePrice}}</td><br><br>
                 
            <form action="/confirmOrder" method="post">
                    <input type="submit" class="btn btn-default" value="Betaal Tickets" name="Submit"> 
            </form>
         </div>
        </div>
     </div>
    </div>
</body>
{% endblock %}