{% extends 'index.html.twig' %}

{% block body %}
    
<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<h2>Bezoeker overzicht</h2>
    <div id="functions">
                <h5>Functies Organisator</h5>
                <a href="">Sloten toekennen</a><br>
                <a href="">Ticket overzicht</a><br>
                <a href="/bezoekerOverzicht">Bezoeker overzicht</a><br>
     </div>
<div class ="container">
        <div class="agenda-item row-fluid">
            {% for agenda in agenda_items %}
                    <div CLASS="span4">{{agenda.naamOptreden}}</div>
                    <div CLASS="span4"> Artiest: {{agenda.artiest}} </div> 
                    <div class="span4">Datum:   {{agenda.optredenDatum}}</div>
                    <div class="span4">Vanaf:   {{agenda.beginTijd}}<br>
                                        Tot:    {{agenda.eindTijd}}
                    </div>
                    <div class="span4">Ticketprijs: {{agenda.ticketPrijs}}</div>
                    <div class="span4">Aantal Beschikbare kaarten: {{agenda.beschikbareKaarten}}</div>
                <hr />
            {% endfor %}
        </div>
</div>
{% endblock %}