{% extends 'index.html.twig' %}

{% block body %}
    
<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<body>
        <div class="container">
            <h3>Dag - Vrijdag</h3>
            <table class="table table-bordered">
                <tr>
                <th>Tijd</th>
                <th>Zaal</th>
                <th>Status</th>
                <th>Keuze</th>
                </tr>
                <tr>
                    1 = beschikbaar, 2 = Onder voorbehoud 3 = bezet
                    {% for slot in slot_items %}
                     <tr>
                        <td>{{slot.beginTijd}} - {{slot.eindTijd}}</td>   
                        <td>Zaal: {{slot.Zaal}}</td>
                        <td>{{slot.statusID}}</td>
                        <td>
                          <form action="/slotToekennen" method="post">
                             <!-- <input value ={{slot.slotID}}> -->
                            <select id="toegekendSlot" name="ticketType">
                                <option value='Geen'>Niet spreken</option>
                                <option value='eersteKeuze'>Eerste keuze</option>
                                <option value="tweedeKeuze">Tweede keuze</option>
                            </select>
                        </td>
                        <td>
                           <input type="submit" class="btn btn-default" value="Kiezen" name="Submit">
                         </form>
                        </td>
                     </tr>
                    {% endfor %}
                        
                        <!-- input keuze veld maken -->
                </tr>
            </table>
        </div>   
</body>
    {% endblock %}