{% extends 'index.html.twig' %}

{% block body %}
    
<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<h2>Backend!!</h2>
    <div id="functions">
                <h5>Functies Organisator</h5>
                <a href="/toekennenSloten">Sloten toekennen</a><br>
                <a href="">Ticket overzicht</a><br>
                <a href="/bezoekerOverzicht">Bezoeker overzicht</a><br>
     </div>
<div class ="container">
        <div class="agenda-item row-fluid">
          <table class="table table-bordered">
            {% for spreker in sprekers %}
                    <tr>
                        <td> idTijdslot: {{spreker.idSlot}} </td> 
                        <td> idSpreker: {{spreker.idSpreker}} </td> 
                        <td> onderwerpSlot: {{spreker.onderwerpSlot}} </td> 
                        <td> zaalNummer: {{spreker.zaalNummer}} </td> 
                        <td> beginTijd: {{spreker.beginTijd}} </td> 
                        <td> eindTijd: {{spreker.eindTijd}} </td> 
                        <td> keuzeType: {{spreker.keuzeType}} </td> 
                        <td> datum: {{spreker.datum}} </td>
                        <td> Keuze: 
                        <form action="/slotToekennen" method="post">
                            <input type="hidden" value ={{spreker.idSpreker}} name="idSpreker" >
                            <select id="keuze" name="keuze">
                                <option value='goedkeuren'>goedkeuren</option>
                                <option value="afkeuren">afkeuren</option>
                            </select>
                        </td>
                        <td>
                           <input type="submit" class="btn btn-default" value="Keuze doorgeven" name="Submit">
                        </form>
                        </td>
                    </tr>
            {% endfor %}
          </table>
        </div>
</div>
{% endblock %}